<h1>Employee Management</h1>
<div >
<app-employee-edit></app-employee-edit>
<div class="employee-container">
  <table id="employees">
    <tr>
      <th>Name </th>
      <th>Department</th>
      <th>Date of birth </th>
      <th>Gender</th>
      <th>Language</th>
      <th>Action</th>
    </tr>
  </table>
  <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Department</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <input type="text" class="form-control" id="moreDeparment" >
          </div>
      </div>
      <div class="modal-footer">
        <button type="button"  onclick="addDepartment()" >Add</button>
      </div>
    </div>

  </div>
</div>

